biopandas==0.5.1
biopython==1.84
ligandsplitter==0.0.3
matplotlib
mdanalysis==2.7.0
numpy==1.26.4
pdb2pqr==3.6.2
prolif==2.0.3
py3dmol==2.3.0
pyqt5==5.15.11
rcsb-api==1.3.0
rdkit
requests
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
smina==2020.12.10
streamlit
vina==1.3.0
pandas